.workspage{
position: relative;
color: #10767b;
}
.ovel{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.workimg{
    width: 458px;
    height: 358px;
    margin-top: 50px;
}
.workspage p,h1,h5{
    margin-top: 50px;
}
.workspage h3{
text-align: center;
transform: rotate(90deg);
}
