<div class="workspage">
    <h5 style="text-align: center;">scroll Down </h5>
    <h3>></h3>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="10">
            <img src="../../../assets/imag/oval-2.png">
        </div>
        <div fxFlex="80" Align="center">
            <h1>How It Works</h1>
            <img class="workimg" src="../../../assets/imag/img.png">
            <p>The Realty Referral Resource (RRR) Referral Associate first submits a buyer or seller referral through
                the RRR portal. From there, RRR will reach out to a partner agent in the locale of the referral. The
                Receiving Agent will then service the client with diligence and professionalism, as stipulated in the
                RRR Referral Agreement.The Referral Associate will not be a direct part of the transaction process, but
                he/she will receive periodic updates regarding the transaction progress via email.Upon completion of the
                transaction, RRR will receive the referral portion of the commission from the receiving brokerage, and
                the RRR Referral Associate will havehis/her referral fee direct-deposited within a matter of days.</p>
        </div>
        <div fxFlex="10">
            <img class="ovel" src="../../../assets/imag/oval.png">
        </div>
    </div>
</div>