.foot{
    color: #0e2d53;
    margin-top: 50px;
}
.foot h3{
margin-bottom: 30px;
}
.icon i{
    height: 10px;
    width: 40px;
}
.foote{
    text-align: center;
    margin-top: 50px;
    background-color: #f6f8f9;    
    width: 1284px;
    height: 35px;
    padding: 30px;
}
.foot p{
margin-top: 2px;
}
@media screen and (max-width:1279px){
    .foot h3{
        text-align: center;
    }
    .foot p{
        text-align: center;
    }
    .icon{
        /* margin-left: auto;
        margin-right: auto; */
        text-align: center !important;
    }
}