<div class="foot">
    <div fxLayout="row" fxLayoutAlign="space-evenly start" >
        <div fxFlex="20">
            <!-- <div fxLayout="column" fxLayoutAlign="center start"> -->
            <img src="../../../assets/imag/group0.png">
        </div>
    <div fxFlex="20">
        <!-- <div fxLayout="column" fxLayoutAlign="center start"> -->
            <h3>BUYERS & SELLERS</h3>
            <p>First time home buyers</p>
                <p>Luxury</p>
                <p>Condos</p>
                <p>Foreclosures</p>
                <p>Relocation</p>
    </div>
    <div fxFlex="20">
        <!-- <div fxLayout="column" fxLayoutAlign="center start"> -->
            <h3>BUYERS & SELLERS</h3>
            <p>Mobile App</p>
               <p>Blog</p>
                <p>Mortgage</p>
               <p> United Corporation</p>
                <p>Fair Housing</p>
    </div>
    <div fxFlex="20">
        <!-- <div fxLayout="column" fxLayoutAlign="center start"> -->
            <h3>PARTNERS</h3>
        <p>Resource Financial</p>
            <p>Enhanced Marketing Solutions</p>
            <p>Mr. Rekey</p>
            <p>Credit Law Center</p>
            <p>Strategic Client Services</p>
</div>
<div fxFlex="20">
    <!-- <div fxLayout="column" fxLayoutAlign="center start"> -->
    <h3>CONTACT US</h3>
    <p><i class="fa fa-address-book"></i>+123456789</p>
    <p><i class="fa fa-envelope" style="color:#0e2d53"></i>rrr@gmail.com</p>
    <i class="fa fa-facebook" style="color:#0e2d53"></i>
    <i class="fa fa-twitter" style="color:#0e2d53"></i>
    <i class="fa fa-instagram" style="color:#0e2d53"></i>
    <i class="fa fa-youtube-square" style="color:#0e2d53"></i>
</div>
</div>
<div class="foote"><p>Privacy Policy    |   Terms Of Use</p>
    <p>2019 all rights reserved - United Real Estate</p>
    </div>