<div class="topbar">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxFlex="20">
            <img src="../../../assets/imag/group.png">
        </div>
        <div fxFLex="50" fxHide.lt-md>
            <div class="topnav">
                <a href="#home">Home</a>
                <a href="#news">Join us</a>
                <a href="#contact">Faq's</a>
                <a href="#about">Continuoue a Education</a>
                <a href="#about">Send a Referal</a>
            </div>
        </div>
        <div fxFLex="30">
            <div class="lownav">
                <a href="#home">Sign in</a>
                <button>Get Started Now</button>
            </div>
        </div>
    </div>
</div>