.topbar{
    background-color:#ffffff;
    height: 80px;
    width: 100%;
    margin: auto;
}
.topbar img{
    margin-top: 15px;
    width:71.5px;
     height:60px;
}
  .topnav a {
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    color: #0a595d;
    font-weight: bold;
  }
  .lownav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #0a595d;
    font-weight: bold;
  }
  .topbar button{
    width: 169px;
    height: 46px;
    border-radius: 5px;
    border: solid 2px #c9cdd5;
    background-color: #0a595d;
    color: #f2f2f2;
    font-weight: bold; 
  }