<div class="contact">
  <h1>Contact Us</h1>
  <h5>Feel free to reach out to us, we are happy to talk to you today</h5>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div fxLayout="row">
      <p><span><img src="../../../assets/imag/icons8-cell-phone-100.png"></span>
        123456789</p>  
    </div>
    <div fxLayout="row">
      <p><span><img src="../../../assets/imag/icons8-important-mail-24.png">
        rrr@gmail.com</span></p>
    </div>
  </div>
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="40" fxFlex.sm="45" fxFlex.md="45"fxFlex.xs="95">
        <label>First Name</label>
        <input type="text" />
      </div>
      <div fxLayout="column" fxFlex="40" fxFlex.sm="45" fxFlex.md="45"fxFlex.xs="95"><label>Last Name</label><input type="text" /></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="40" fxFlex.sm="45" fxFlex.md="45"fxFlex.xs="95">
        <label>Email</label>
        <input type="text" />
      </div>
      <div fxLayout="column" fxFlex="40" fxFlex.sm="45" fxFlex.md="45"fxFlex.xs="95">
        <label>Telephone number</label><input type="text">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="95" fxFlex.sm="95" fxFlex.md="95"fxFlex.xs="95">
        <label>Drop ur message</label><input type="text">
      </div>
    </div>
<div fxLayout="row" fxLayoutAlign="center center">
    <button>SUBMIT</button>
</div>
  </div>
</div>
