<div class="ageinf">
  <h1>What Our Agents Say</h1>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div fxFLex="10">
      <div>
        <img src="../../../assets/imag/form-2.png">
      </div>
    </div>

    <div fxFLex="80"  fxLayout="row">
      <div class="mithaliraj" fxFLex="33.333">
        <img src="../../../assets/imag/mithaliraj.png" />
        <h4>MithaliRaj</h4>
        <p>
          Have you ever heard the expression, “Do not count your chickens before
          they hatch?”
        </p>
      </div>

      <div class="msd" fxFLex="33.333">
        <img src="../../../assets/imag/msd.png" />
        <h4>MS Dhoni</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown
        </p>
      </div>

      <div class="kohli" fxFLex="33.333">
        <img src="../../../assets/imag/kohli.png" />
        <h4>Kohli</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer
        </p>
      </div>
    </div>

    <div fxFlex="10">
      <p></p>
    </div>
  </div>
</div>
