<div class="mainpage">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="10">
            <div class="imgleft">
            <img src="../../../assets/imag/form.png">
            </div>
        </div>
        <div fxFLex="80">
            <h1>Realty Referral Resource</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the </p>
        </div>
        <div fxFLex="10">
            <div class="imgright">
            <img src="../../../assets/imag/group-4.png">
        </div>
        </div>
    </div><img src="../../../assets/imag/group-230.png" width="100%"></div>
    

