<div class="referal">
    <h1>What does a Referral Associate DO?</h1>
    <div fxLayout="row-wrap" fxLayoutAlign="space-around center">
    
            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imag/charity.png">
                <p>Maintains a current real estate license.</p>
            </div>
        </div>
            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imag/library.png">
                <P>Completes all required Continuing Education requirements to keep license current.</P>
            </div>
        </div>
            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imag/test.png">
                <p>Renew license as scheduled according to local requirements.</p>
            </div>
        </div>
        
            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imag/charity.png">
                <p>Submits referral clients through the RRR portal.</p>
            </div>
        </div>
    </div>
</div>