.refnot h1{
    color: #10767b;
    text-align: center;
    margin-top: 50px;
}
.card{
    margin-top: 50px;
    width: 80%;
    height: 150px;
    line-height: 20px;
    color: #10767b;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 21px -5px rgba(97, 97, 97, 0.23);
}
.card p{
    margin:au;
}