<div class="refnot">
  <h1>What does a Referral Associate NOT DO?</h1>

  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <div fxFlex="10" fxHide.xs fxHide.sm>
      <img src="../../../assets/imag/oval-3.png">
    </div>
    <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
      <div class="card">
        <h3>01</h3>
        <p>
          You have connections who want to purchase property in distant markets;
        </p>
      </div>
    </div>
    <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <div class="card" >
      <h3>02</h3>
      <p>
        You have connections who want to purchase property in distant markets;
      </p>
    </div>
    </div>
    <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <div class="card">
      <h3>03</h3>
      <p>
        You have connections who move into the local area with no knowledge of
        the area;
      </p>
    </div>
</div>
 

  
    <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <div class="card">
      <h3>04</h3>
      <p>
        You have a license in one state but have moved elsewhere; you can still
        benefit from real estate transactions happening in your sphere of
        influence in your former location.
      </p>
    </div>
  </div>
    <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <div class="card">
        <h3>05</h3>
      <p>Still have questions? See our FAQ’s page!</p>
    </div>
    </div>
    <div fxFlex="30" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100">
        <div class="card">
      <h3>06</h3>
      <p>
        In sollicitudin at libero ac fermentum. Fusce arcu odio, pretium
        hendrerit enim eget, tempus mollis diam.
      </p>
    </div>
</div>
    <div fxFlex="10" fxHide.xs fxHide.sm>
      <img src="../../../assets/imag/bg.png" />
    </div>
  </div>
</div>
